{% extends "_layout" %}
{% set bodyClass = '' %}

{% block content %}
<article class="article" data-format="single" itemid="{{ entry.url }}" itemscope itemtype="http://schema.org/Article">
  <header class="band" data-align="center">
    {% if entry.featuredImage | length %}
      {% set asset = entry.featuredImage.first() %}
      <img src="{{ asset.url }}" />
    {% endif %}
    <div class="title">
      <h1>{{ entry.title }}</h1>
      <p>Here's a pretty good short description for the article title.</p>
    </div>
  </header>

  <div class="band" data-theme="light">



    <div class="wrapper" data-size="condensed">
      <p>{{ entry.postDate.format('F d, Y') }}</p>

      {% if social.avatar | length %}
        {% set avatar = social.avatar.first() %}
        <img src="{{ avatar.getUrl('avatar') }}" alt="{{ avatar.title }}" />
      {% endif %}

      {{ entry.body }}

      {% include 'components/_social-share' with {'topic': 'article'} %}
    </div>

  </div>
</article>

<!-- <aside>
  <div class="wrapper">
    <hr />

    {# Set parameters for prev/next elements list #}
    {% set params = craft.entries.section('articles').order('title asc') %}

    {# Get the prev/next elements #}
    {% set prevEntry = entry.getPrev(params) %}
    {% set nextEntry = entry.getNext(params) %}

    {# And make sure to only output the links if the element exists #}
    {% if prevEntry %}
    <article>
      {% if prevEntry.featuredImage | length %}
      {% set asset = prevEntry.featuredImage.first() %}
        <figure style="background-image: url('{{ asset.url }}');">
          <img class="visuallyhidden" src="{{ asset.url }}" />
        </figure>
      {% endif %}
      <h3><a href="{{ prevEntry.url }}" data-underline>{{ prevEntry.title }}</a></h3>
      <p>{{ prevEntry.postDate.format('F d, Y') }}</p>
    </article>
    {% endif %}

    {% if nextEntry %}
    <article>
      {% if nextEntry.featuredImage | length %}
      {% set asset = nextEntry.featuredImage.first() %}
        <figure style="background-image: url('{{ asset.url }}');">
          <img class="visuallyhidden" src="{{ asset.url }}" />
        </figure>
      {% endif %}
      <h3><a href="{{ nextEntry.url }}" data-underline>{{ nextEntry.title }}</a></h3>
      <p>{{ nextEntry.postDate.format('F d, Y') }}</p>
    </article>
    {% endif %}
  </div>
</aside> -->
{% endblock %}
