{% extends "_layout" %}
{% set title = "Articles" %}

{% block content %}
<article itemscope="" itemtype="http://schema.org/WebPage">
  <header class="band" data-padding="giant" data-align="center">
    <div class="title">
      <h1>{{ articles.featuredTitle }}</h1>
      <p>{{ articles.featuredSubtitle }}</p>
    </div>
  </header>

  <div class="band" data-theme="light">
    <div class="wrapper" data-size="condensed">
      {% for entry in craft.entries.section('articles').find() %}
        <article class="article">
          <h1><a href="{{ entry.url }}" data-underline>{{ entry.title }}</a></h1>
          <p>Posted on {{ entry.postDate.format('F d, Y') }}</p>
          {{ entry.body.getPage(1) | striptags | slice(0, 155) }}[&hellip;]
          <p><a href="{{ entry.url }}">Continue reading</a></p>
        </article>
      {% endfor %}
    </div>
  </div>
</article>
{% endblock %}
