{# Set parameters for prev/next elements list #}
{% set params = craft.entries.section('projects').order('title asc') %}

{# Get the prev/next elements #}
{% set prevEntry = entry.getPrev(params) %}
{% set nextEntry = entry.getNext(params) %}

{# And make sure to only output the links if the element exists #}
{% if prevEntry %}
{% set hero = prevEntry.featuredImage.first() %}
<article class="cta project" itemscope itemtype="http://schema.org/CreativeWork" style="background-image: url({{ hero.getUrl('thumbnail') }});">
  <div class="wrapper">
    <div class="badge">
      Next Project
    </div>
    <h1 itemprop="name">{{ prevEntry.title }}</h1>
    <a class="button inverted" href="{{ prevEntry.url }}">See Project</a>
  </div>
</article>
{% endif %}

{% if nextEntry %}
{% set hero = nextEntry.featuredImage.first() %}
<article class="cta project" itemscope itemtype="http://schema.org/CreativeWork" style="background-image: url({{ hero.getUrl('thumbnail') }});">
  <div class="wrapper">
    <div class="badge">
      Next Project
    </div>
    <h1 itemprop="name">{{ nextEntry.title }}</h1>
    <a class="button inverted" href="{{ nextEntry.url }}">See Project</a>
  </div>
</article>
{% endif %}
