<article class="card" itemscope itemtype="http://schema.org/CreativeWork">
  <a href="{{ entry.url }}" itemprop="url">
    {% if entry.featuredImage | length %}
    {% set hero = entry.featuredImage.first() %}
    <div class="card--image">
      <img src="{{ hero.getUrl('thumbnail') }}" alt="{{ hero.altDescription }}" draggable="false" itemprop="image" />
    </div>
    <div class="card--meta">
      <h1 itemprop="name">{{ entry.clientName }}</h1>
      {% set tags = entry.tags %}
      {% if tags | length %}
      <div itemprop="keywords">
        {% for tag in tags %}
        <span>
          {{tag}}
        </span>
        {% endfor %}
      </div>
      {% endif %}
    </div>
    {% endif %}
  </a>
</article>
