{% extends "_layout" %}
{% set bodyClass = '' %}

{% block content %}
<article class="project" data-format="single" itemscope itemtype="http://schema.org/CreativeWork">
  <header id="project__hero" class="band" data-align="center">
    {% if entry.featuredImage | length %}
      {% set asset = entry.featuredImage.first() %}
      <img src="{{ asset.url }}" />
    {% endif %}
    <div class="title">
      <h1>{{ entry.featuredTitle }}</h1>
      <p>{{ entry.featuredSubtitle }}</p>
    </div>
  </header>
  <section class="band" data-padding="top-big">
    <div class="wrapper">
      <div class="project__highlights">
        <div>
          <h2>The Challenge</h2>
          {{ entry.projectChallenge }}
        </div>
        <div>
          <h2>The Solution</h2>
          {{ entry.projectSolution }}
        </div>
        <div>
          <h2>The Results</h2>
          {{ entry.projectResults }}
        </div>
      </div>
    </div>
  </section>
  <section class="band" data-padding="top-big">
    <div class="wrapper" data-size="condensed">
      <h2>Summary</h2>
      {{ entry.body }}
    </div>
  </section>
</article>
{% endblock %}

{% block scripts %}

{% endblock %}
