<ul class="social">
  <li class="social-link facebook"><a href="http://www.facebook.com/sharer.php?u={{ entry.getUrl }}" title="Share this {{ topic }} on Facebook"><span>Share</span></a></li>
  <li class="social-link twitter"><a href="https://twitter.com/share?url={{ entry.getUrl }}" title="Tweet this {{ topic }} on Twitter"><span>Tweet</span></a></li>
  <li class="social-link google"><a href="https://plus.google.com/share?url={{ entry.getUrl }}" title="Share this {{ topic }} on Google Plus"><span>Share</span></a></li>
  <li class="social-link linkedin"><a href="http://www.linkedin.com/shareArticle?url={{ entry.getUrl }}" title="Share this {{ topic }} on LinkedIn"><span>Share</span></a></li>
</ul>
