{% extends "_layout" %}
{% set bodyClass = 'theme-dark' %}

{% block content %}

<article itemscope="" itemtype="http://schema.org/WebPage" data-body-class="black">
  <div class="band" data-topic="expertise" data-hero="true" data-align="center">
    <div class="wrapper" data-size="condensed">
      <h1>{{ entry.featuredTitle }}</h1>
      <p>{{ entry.featuredSubtitle }}</p>
    </div>
  </div>
  <section class="band" data-align="center">
    <div class="wrapper">
      <ul class="services">
        <li>
          <img src="https://i.ytimg.com/vi/qxM9pMEnJQ0/maxresdefault.jpg" />
          <h2><a href="/expertise/branding">Branding</a></h2>
          <p>Digital isn't the word of the moment, it's the way forward.</p>
        </li>
        <li>
          <img src="https://i.ytimg.com/vi/qxM9pMEnJQ0/maxresdefault.jpg" />
          <h2><a href="/expertise/strategy">Strategy</a></h2>
          <p>Digital isn't the word of the moment, it's the way forward.</p>
        </li>
        <li>
          <img src="https://i.ytimg.com/vi/qxM9pMEnJQ0/maxresdefault.jpg" />
          <h2><a href="/expertise/websites">Websites</a></h2>
          <p>Digital isn't the word of the moment, it's the way forward.</p>
        </li>
        <li>
          <img src="https://i.ytimg.com/vi/qxM9pMEnJQ0/maxresdefault.jpg" />
          <h2><a href="/expertise/apps">Apps</a></h2>
          <p>Digital isn't the word of the moment, it's the way forward.</p>
        </li>
      </ul>
    </div>
  </section>
  <section class="band" data-align="center">
    <div class="wrapper">
      <h2>{{ clients.featuredTitle }}</h2>
      <p>{{ clients.featuredSubtitle }}</p>
      <ul class="partners">
        {% for block in clients.clients %}
          {% set image = block.clientLogo.first() %}
          <li>
            {% if image %}
            <span><img src="{{ image.getUrl() }}" alt="{{ image.title }}" /></span>
            {% endif %}
            <span>{{ block.clientName }}</span>
          </li>
        {% endfor %}
      </ul>
    </div>
  </section>
  <section class="band" data-align="center">
    <div class="wrapper">
      <h2>Process</h2>
      <p>People and their relationship with technology is the only reason we're here. We take a people-first approach across the board, because it's more important to speak for humans than for search engines. Your users are our users, and giving them an awesome experience is our goal.</p>

      <h3>1. First, we think</h3>
      <p>We research a brand and its consumers to identify key values, providing a foundation for forward-thinking strategies that achieve brand goals.</p>
      <ul>
        <li>BRAND STRATEGY</li>
        <li>CONSUMER RESEARCH</li>
      </ul>

      <h3>2. Then we dream</h3>
      <p>We research a brand and its consumers to identify key values, providing a foundation for forward-thinking strategies that achieve brand goals.</p>
      <ul>
        <li>BRAND STRATEGY</li>
        <li>CONSUMER RESEARCH</li>
      </ul>

      <h3>3. Finally we build</h3>
      <p>We research a brand and its consumers to identify key values, providing a foundation for forward-thinking strategies that achieve brand goals.</p>
      <ul>
        <li>BRAND STRATEGY</li>
        <li>CONSUMER RESEARCH</li>
      </ul>
    </div>
  </section>
  <section class="band" data-align="center">
    <div class="wrapper">
      <h2>{{ awards.featuredTitle }}</h2>
      <p>{{ awards.featuredSubtitle }}</p>
      <ul class="partners">
        {% for block in awards.awards %}
          {% set image = block.awardLogo.first() %}
          <li>
            {% if image %}
            <span><img src="{{ image.getUrl() }}" alt="{{ image.title }}" /></span>
            {% endif %}
            <span>{{ block.awardName }}</span>
          </li>
        {% endfor %}
      </ul>
    </div>
  </section>
</article>

{% endblock %}

{% block scripts %}{% endblock %}
