{#
# Layout template
# ---------------
#
# This template defines your site’s global layout. It can be
# “extended” by other templates to fill in the gaps.
#
# See Twig’s Template Inheritance documentation for more details:
# http://twig.sensiolabs.org/doc/templates.html#template-inheritance
#}

<!DOCTYPE html>
<html lang="en-US">
<head>
	<script src="https://use.typekit.net/ysg6zwt.js"></script>
	<script>try{Typekit.load({ async: true });}catch(e){}</script>

	<meta charset="utf-8" />
	<meta http-equiv="cleartype" content="on">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
	<meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=1, user-scalable=no">

	{% hook 'seomaticRender' %}

	<link rel="stylesheet" href="{{ siteUrl }}/css/style.css" media="screen">
	<link rel="shortcut icon" href="{{ siteUrl }}/favicons/favicon.png">
</head>
<body>

	{# App Header #}
	<header id="app__header" class="app__header" role="banner">
		<h1 class="brand">
			<a href="{{ siteUrl }}" title="Home page for Mark Riggan" rel="home">
				<span class="ui-hidden">{{ siteName }}</span>
				<svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 128 88.82"><defs><style>.cls-1{fill:#1e1e23;}</style></defs><path class="cls-1" d="M125.24.62a5.21,5.21,0,0,0-5.36.26L64,38.13,8.12.88A5.22,5.22,0,0,0,0,5.23V83.59a5.22,5.22,0,0,0,8.12,4.35L64,50.69h0l9.42-6.28h0L117.55,15V73.83L82.84,50.69,73.42,57l46.46,31A5.22,5.22,0,0,0,128,83.59V5.23A5.21,5.21,0,0,0,125.24.62ZM10.45,73.83V15L54.58,44.41Z"/></svg>
			</a>
		</h1>
		{% include 'components/_navigation' %}
	</header>


	{# App Content #}
	<main id="barba-wrapper" class="app-content" role="main">
    <div class="barba-container">

  		{% block content %}
				{# Placeholder for content per template #}
  		{% endblock %}

    </div>
	</main>


	{# App Menu #}
	<div id="app__menu" class="app__menu">
		<h2>Navigate</h2>
		<ul>
			{% nav node in craft.menus.getNodes('mainMenu') %}
				<li class="menu__item" role="presentation">
					<a href="{{node.link}}">{{ node.title }}</a>
				</li>
			{% endnav %}
		</ul>
	</div>


	{# App Footer #}
	<footer class="app__footer" role="contentinfo">
		{% include 'components/_cta' %}
		{% include 'components/_tagline' %}
		{% include 'components/_social-links' %}
		{% include 'components/_copyright' %}
	</footer>


	{# Global Scripts #}
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/enquire.js/2.1.2/enquire.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/barba.js/1.0.0/barba.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/headroom/0.9.3/headroom.min.js"></script>
  <script>
		// Init Barba.js
    Barba.Pjax.start();
    Barba.Prefetch.init();

		// Init HeadRoom.js
		// var header = document.getElementById('app__header');
		// var headroom = new Headroom(header);
		//
		// headroom.init();
  </script>


	{% block scripts %}
		{# Placeholder for scripts per template #}
	{% endblock %}
</body>
</html>
