{% extends "_layout" %}

{% block content %}

<article>
  {% include '_partials/_hero' %}

  {{ entry.body }}

  <section class="row">
    <div class="card service col-lg-6">
      <h2>Brand Communication</h2>
      <p>
        We make the complex simple through digital strategy and design. We create products, platforms and campaigns that move products as well as culture.
      </p>
      <ul>
        <li>Brand Strategy</li>
        <li>Design / Visual Language</li>
        <li>Advertising / Campaigns</li>
        <li>User Experience Design</li>
        <li>Social Campaigns</li>
        <li>eCommerce / Retail</li>
        <li>Content Development</li>
        <li>Digital Installations</li>
        <li>Web Apps / Products</li>
        <li>Mobile Design</li>
      </ul>
    </div>
    <div class="col-lg-6">
      <h2>Digital Innovation</h2>
      <p>
        We make the complex simple through digital strategy and design. We create products, platforms and campaigns that move products as well as culture.
      </p>
      <ul>
        <li>Digital Strategy</li>
        <li>Website Design</li>
        <li>User Interface Design</li>
        <li>User Experience Design</li>
        <li>Social Campaigns</li>
        <li>eCommerce / Retail</li>
        <li>Content Development</li>
        <li>Digital Installations</li>
        <li>Web Apps / Products</li>
        <li>Mobile Design</li>
      </ul>
    </div>
  </section>

<section class="process">
  <header class="wrapper">
    <h1>Simple process</h1>
    <p>We make the complex simple through digital strategy and design. We create products, platforms and campaigns that move products as well as culture.</p>
  </header>

  <div id="process-discover">
    <div class="row start-xs">
      <div class="col-lg-4 col-lg-offset-6">
        <h3>Discover</h3>
        <p>Develop a thorough understanding of the project, audience, and objectives to formulate a digital strategy.</p>
      </div>
    </div>
  </div>
  <div style="">
    <div class="row start-xs">
      <div class="col-lg-4 col-lg-offset-6">
        <h3>Design</h3>
        <p>Develop a thorough understanding of the project, audience, and objectives to formulate a digital strategy.</p>
      </div>
    </div>
  </div>
  <div style="background-color: #eee;">
    <div class="row start-xs">
      <div class="col-lg-4 col-lg-offset-6">
        <h3>Develop</h3>
        <p>Develop a thorough understanding of the project, audience, and objectives to formulate a digital strategy.</p>
      </div>
    </div>
  </div>
  <div style="">
    <div class="row start-xs">
      <div class="col-lg-4 col-lg-offset-6">
        <h3>Deploy</h3>
        <p>Develop a thorough understanding of the project, audience, and objectives to formulate a digital strategy.</p>
      </div>
    </div>
  </div>
  <div style="background-color: #eee;">
    <div class="row start-xs">
      <div class="col-lg-4 col-lg-offset-6">
        <h3>Distill</h3>
        <p>Develop a thorough understanding of the project, audience, and objectives to formulate a digital strategy.</p>
      </div>
    </div>
  </div>
</section>

<div class="clients">
{% for block in general.clients %}
  <figure class="client">
    <img src="{{ block.clientLogo.first().url }}" alt="{{ block.clientName }}" draggable="false">
  </figure>
{% endfor %}
</div>

<div class="awards">
  {% for block in general.awards %}
  <figure class="award">
    <img src="{{ block.awardLogo.first().url }}" alt="{{ block.awardName }}" draggable="false">
  </figure>
  {% endfor %}
</div>

</article>

{% endblock %}

{% block scripts %}{% endblock %}
